    <div class="nav">
      <ul>
        <li><a>Logowanie</a></li>
        <li><a class="active">Lista TODO</a></li>
      </ul>
    </div>
    <h1>DODAJ ZADANIA DO SWOJEJ LISTY</h1>
    <h1></h1>
    <h1></h1>
  <div id="content">
  <div id="content-wrap">
  <div class="container">
    <app-add-task></app-add-task>
  </div>

  <div class="container">
    <div>
    <app-todo-task></app-todo-task>
    </div>

    <div>
      <app-done-task></app-done-task>
    </div>
  </div>
</div>

<footer>
  <div class="footer-copyright">
    <p>Patryk Pisarek, Jakub Bruszewski, Michał Zdrowak © 2021. All rights reserved.</p>
  </div>
</footer>
</div>