<ng-container *ngIf="tasksList.length > 0; else noTasks">
<p>Zadania do wykonania: {{tasksList.length}}</p>
    <ol>
      <li *ngFor="let task of tasksList">
        {{task}}
        <button (click)="done(task)" class="btn btn-sm btn-success">Wykonane</button>
        <button (click)="remove(task)" class="btn btn-sm btn-danger">Usuń</button>
        <button (click)="edit(task)" class="btn btn-sm btn-primary">Edytuj</button>
      </li>
    </ol>
  </ng-container>
  <ng-template #noTasks>
    <p>Brak zadań do wykonania</p>
  </ng-template>