<ng-container *ngIf="tasksList.length > 0; else noTasks">
  <button class="btn btn-sm btn-light" title="Pokaż/schowaj opcje edycji" alt="Pokaż/schowaj opcje edycji"  (click)="toggleshow()">•••</button> 
   <p>Zadania do wykonania: {{tasksList.length}}</p>
    <ol>
      <li *ngFor="let task of tasksList">
        {{task.name | taskTransform}}
        <button *ngIf="showMe" class="done" (click)="done(task)" class="btn btn-sm btn-success">Wykonane</button>
        <button *ngIf="showMe" class="remove" (click)="remove(task)" class="btn btn-sm btn-danger">Usuń</button>
        <button *ngIf="showMe" class="edit" (click)="edit(task)" class="btn btn-sm btn-primary">Edytuj</button>
      </li>
    </ol>
  </ng-container>
  <ng-template #noTasks>
    <p>Brak zadań do wykonania</p>
  </ng-template>
  