<ng-container *ngIf="tasksList.length > 0; else noTasks">
<p>Zadania do wykonania: {{tasksList.length}}</p>
    <ol>
      <li appDate [date]="task.created" *ngFor="let task of tasksList">
        {{task.name | taskTransform}}
        <button class="done" (click)="done(task)" class="btn btn-sm btn-success">Wykonane</button>
        <button class="remove" (click)="remove(task)" class="btn btn-sm btn-danger">Usuń</button>
      </li>
    </ol>
  </ng-container>
  <ng-template #noTasks>
    <p>Brak zadań do wykonania</p>
  </ng-template>